@import url(resets.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
h1, h2, h3, h4, h5, p {
  margin: 1rem 0; }

body {
  color: #93979B;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: .5rem; }
  @media screen and (max-width: 500px) {
    .container {
      margin-top: 3rem; } }

header {
  background-color: rgba(0, 0, 0, 0.5);
  color: #F0FDFD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1.6rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; }
  @media screen and (max-width: 500px) {
    header {
      height: 3rem; } }
  header .logo {
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
    width: 192px;
    text-align: justify;
    line-height: 1.7rem;
    letter-spacing: 2px;
    color: #F0FDFD; }
    @media screen and (max-width: 500px) {
      header .logo {
        font-size: .8rem;
        width: 129px; } }
  @media screen and (max-width: 650px) {
    header ul {
      display: none; } }
  header .hamburger {
    font-size: 2rem; }
    @media screen and (min-width: 650px) {
      header .hamburger {
        display: none; } }
  header li {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.1rem; }
  header a {
    color: #F0FDFD;
    text-decoration: none;
    transition: .2s;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 300;
    letter-spacing: .1rem; }
  header a.active {
    font-weight: bold;
    color: #F7BCAE; }
  header a:hover {
    color: #F7BCAE; }

.banner-container {
  background: url("../images/01_bg.jpg") center no-repeat;
  background-size: cover;
  height: 0;
  width: 100%;
  padding-top: 56%;
  display: flex;
  flex: 1; }

.portfolio {
  padding: 0 .5rem; }
  .portfolio h1 {
    text-align: center;
    text-transform: uppercase;
    color: #d0e2ed;
    border: solid 1px;
    height: 3rem;
    background-color: #93979b;
    margin: 2.5rem 0 .5rem 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  .portfolio .items {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5rem; }
    @media screen and (max-width: 1119px) and (min-width: 451px) {
      .portfolio .items {
        grid-template-columns: 1fr 1fr; } }
    @media screen and (min-width: 1120px) {
      .portfolio .items {
        grid-template-columns: 1fr 1fr 1fr; } }
  .portfolio .item {
    color: #F0FDFD;
    position: relative;
    z-index: 1;
    height: 0;
    padding-top: 75%;
    overflow: hidden; }
    @media screen and (min-width: 451px) {
      .portfolio .item {
        padding-top: 100%; } }
    .portfolio .item::before {
      content: "";
      position: absolute;
      top: -2%;
      left: 0;
      width: 100%;
      height: 102%;
      z-index: -1;
      background-size: cover;
      background-position: center;
      transition: .3s; }
    .portfolio .item:hover {
      cursor: pointer; }
      .portfolio .item:hover h2 {
        font-size: 1.8rem; }
      .portfolio .item:hover::before {
        transform: translate(0px, 0.5rem); }
      .portfolio .item:hover small {
        opacity: 1; }
    .portfolio .item h2 {
      position: absolute;
      text-transform: uppercase;
      text-align: center;
      width: 100%;
      top: 10%;
      letter-spacing: .2rem;
      transition: .3s;
      font-weight: normal; }
    .portfolio .item small {
      position: absolute;
      top: 40%;
      width: 100%;
      display: block;
      text-align: center;
      font-size: 1.1rem;
      padding: .5rem 10%;
      opacity: 0;
      transition: .3s;
      line-height: 1.5rem; }
    .portfolio .item h2, .portfolio .item small {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.7); }
    .portfolio .item-1::before {
      background-image: url("../images/tunnel_view.jpg"); }
    .portfolio .item-2::before {
      background-image: url("../images/02_bg.jpg"); }
    .portfolio .item-3::before {
      background-image: url("../images/03_bg.jpg"); }
    .portfolio .item-4::before {
      background-image: url("../images/04_bg.jpg"); }
    .portfolio .item-5::before {
      background-image: url("../images/05_bg.jpg"); }
    .portfolio .item-6::before {
      background-image: url("../images/06_bg.jpg"); }

.category {
  padding: .5rem; }
  .category-heading {
    text-align: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: #fff;
    height: 10rem;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .category-heading p {
      margin: 0 0 .5rem 0; }
  .category h1 {
    font-weight: normal;
    text-transform: uppercase; }
  .category .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: .5rem;
    margin-top: 5.5rem; }
  .category .item {
    color: #F0FDFD;
    position: relative;
    z-index: 1;
    height: 0;
    padding-top: 75%;
    overflow: hidden; }
    @media screen and (min-width: 451px) {
      .category .item {
        padding-top: 100%; } }
    .category .item::before {
      content: "";
      position: absolute;
      top: -2%;
      left: 0;
      width: 100%;
      height: 102%;
      z-index: -1;
      background-size: cover;
      background-position: center;
      transition: .3s; }
    .category .item:hover {
      cursor: pointer; }
      .category .item:hover::before {
        transform: translate(0px, 0.5rem); }
      .category .item:hover small {
        opacity: 1; }
    .category .item a, .category .item a:hover {
      color: #F0FDFD; }
    .category .item small {
      position: absolute;
      top: 40%;
      width: 100%;
      display: block;
      text-align: center;
      font-size: 1.1rem;
      padding: .5rem 10%;
      opacity: 0;
      transition: .3s;
      line-height: 1.5rem; }
    .category .item small {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.7); }
    .category .item-1::before {
      background-image: url("../images/tunnel_view.jpg"); }
    .category .item-2::before {
      background-image: url("../images/02_bg.jpg"); }
    .category .item-3::before {
      background-image: url("../images/03_bg.jpg"); }
    .category .item-4::before {
      background-image: url("../images/04_bg.jpg"); }
    .category .item-5::before {
      background-image: url("../images/05_bg.jpg"); }
    .category .item-6::before {
      background-image: url("../images/06_bg.jpg"); }

.footer {
  display: grid;
  background-color: #000;
  color: #D0E2ED;
  padding: .5rem;
  font-size: .8rem;
  text-align: center; }
  .footer a {
    color: #D0E2ED;
    text-decoration: none; }
    .footer a:hover {
      color: #F7BCAE; }
  .footer .copy div {
    line-height: 2rem;
    font-size: .6rem; }
  .footer .social li {
    display: inline-block;
    font-size: 1.5rem;
    padding: .2rem; }
  .footer .social ul {
    text-align: center;
    align-self: center;
    margin: .5rem 0; }
  .footer nav {
    line-height: 1.5rem;
    margin-bottom: .5rem; }
    .footer nav li {
      display: inline-block;
      margin: 0 .5rem; }
  .footer .logo img {
    margin-top: .5rem;
    max-width: 10rem; }

.about {
  text-align: center; }
  .about img {
    max-width: 65%;
    border: solid 1px #93979B;
    margin-top: .5rem; }
  .about h1, .about h2 {
    font-weight: normal;
    text-transform: uppercase; }
  .about h1 {
    margin-top: 2rem; }
  .about h2 {
    margin-top: 4rem; }
  .about p {
    max-width: 65%;
    text-align: left;
    display: block;
    margin: 1rem auto; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: space-around; }
  .modal-content {
    position: relative;
    background-color: #ffffff;
    width: 80%;
    height: 95%;
    z-index: 99999;
    border: solid 1px #93979B;
    align-self: center;
    border-radius: 3px;
    background-image: url("../images/tunnel_view.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .modal-nav {
    align-self: center;
    font-size: 5rem;
    color: #93979B; }
  .modal-info {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #93979B;
    font-size: 1.8rem; }
  .modal-close {
    position: absolute;
    top: 1rem;
    color: #93979B;
    font-size: 2.5rem;
    font-weight: bold; }
  .modal .meta-data {
    background-color: rgba(255, 255, 255, 0.75);
    width: 50%;
    border: solid 1px #93979B;
    padding: 1rem 1.8rem;
    min-height: 50%;
    max-height: 70%;
    border-radius: 3px;
    align-self: center;
    overflow: scroll;
    position: relative; }
    .modal .meta-data h2 {
      text-transform: uppercase;
      margin: 0 0 .3rem 0; }
    .modal .meta-data table {
      margin-top: .5rem;
      width: 100%;
      font-size: .9rem; }
    .modal .meta-data th, .modal .meta-data td {
      border: solid 1px #93979B;
      padding: .5rem; }
    .modal .meta-data th {
      text-align: right; }
    .modal .meta-data-close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.5rem; }
