@import url(resets.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat");
h1, h2, h3, h4, h5, p {
  margin: 1rem 0; }

body {
  color: #93979b;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4.6rem; }

header {
  font-family: 'Montserrat', sans-serif;
  background-color: #93979b;
  color: #f0fdfd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  padding: 0 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  header .logo {
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
    width: 192px;
    text-align: justify;
    line-height: 1.7rem;
    letter-spacing: 2px;
    color: #f0fdfd; }
  header li {
    display: inline-block;
    margin-left: .6rem;
    font-size: 1.1rem; }
  header a {
    color: #f0fdfd;
    text-decoration: none;
    transition: .2s; }
  header a:hover {
    text-decoration: underline;
    color: #f7bcae; }

.banner-container {
  background-color: #f7bcae;
  width: 100%;
  height: 620px; }
